<% layout('/layouts/boilerplate.ejs') %>

    <div class="row">
        <div class="col-8 offset-2">
    <form method="post" action="/listings" novalidate class=" needs-validation" enctype="multipart/form-data">
        <div class="mb3"><label for="title" class="form-label">Enter title</label>
            <input type="text" 
              name="listing[title]"
              placeholder="Enter title"
              class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Enter Description</label>
            <textarea name="listing[description]" 
            placeholder="enter description" 
            class="form-control" required>
        </textarea>
        </div>
         <div class="mb-3">
            <label for="country" class="form-label">Country</label>
           <input type="text"
            name="listing[country]"
             placeholder="enter country" 
             class="form-control" required>
         </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
             <input  name="listing[location]"
              placeholder="enter location" 
              class="form-control" required>
        </div>
       <div class="mb-3">
        <label for="number" class="form-label">Price</label>
         <input  name="listing[price]" 
         placeholder="enter price" 
         class="form-control" required>
       </div>
        <div class="mb-3">
            <label for="img" class="form-label">  Upload Image</label>
             <input type="file" 
             name="listing[image]"
              placeholder="enter img url" 
              class="form-control" >
        </div>
       
        <button class="add-btn">Add</button>
    </form>
    </div>
    </div>
